
{% load staticfiles %}

 <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
 <script src="{% static 'bootstrap/js/bootstrap.min.js'%} "></script>
 <script src="{% static 'js/jquery-ui.min.js' %}"></script>
 <script src="{% static 'js/main.js' %}"></script>
 <script src="{{STATIC_URL}}ajax_select/js/ajax_select.js"></script>
 <script src="{% static 'js/intro.js' %}"></script>


 <script type="text/javascript">
    $('.preloader').show();
	$('#temp-maincontent').html($('#maincontent'));
	$('.preloader').hide();
</script>

