<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	<title>{% block title %} Dora Django Kit {% endblock %}</title>
	<meta name="description" content="description">
	<meta name="author" content="Devendra Dora">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-social.css' %}" >
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/main.css' %}"> 

	<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{STATIC_URL}}ajax_select/css/ajax_select.css" />
	<link rel="stylesheet" href="{% static 'css/introjs.css' %}">
	
</head>
<body>
	<!--Start Header-->
	
	<div id="modalbox">
		<div class="devoops-modal">
			<div class="devoops-modal-header">
				<div class="modal-header-name">
					<span>Basic Dev Test</span>
				</div>
				<div class="box-icons">
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="devoops-modal-inner">
			</div>
			<div class="devoops-modal-bottom">
			</div>
		</div>
	</div>
	<header class="navbar">
		<div class="container-fluid expanded-panel" >
			<div class="row">
				<div id="logo" class="col-xs-12 col-sm-2">
					<a href="/dashboard/"> Dora Django Kit</a>
				</div>
				<div id="top-panel" class="col-xs-12 col-sm-10">
					<div class="row">
						<div class="col-xs-8 col-sm-4" >
							<a href="#" class="show-sidebar" >
								<i class="fa fa-bars" data-step="2" data-intro="Click to view side menu"></i>
							</a>
							<form action="" method="GET">
							   <div id="search" data-step="1" data-intro="Search people by Phone, email, username , firstname , lastname" >
							   <input class="ui-autocomplete-input" name="q" id="id_q" value="" autocomplete="off" data-ajax-select="autocomplete" data-plugin-options="{&quot;min_length&quot;: 1, &quot;html&quot;: true, &quot;source&quot;: &quot;/admin/lookups/ajax_lookup/userlookup&quot;}" maxlength="255" type="text" 
							   placeholder="search people"/> 
								<i class="fa fa-search"></i>		
							   </div>
                             </form>
						</div>
						<div class="col-xs-4 col-sm-8 top-panel-right">
							<ul class="nav navbar-nav pull-right panel-menu">
						
								<li class="dropdown">
									<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
										<i class="fa fa-bell"></i>
										<span class="badge">7</span>
									</a>
									<ul class="dropdown-menu">

									    <li>
											<a href="/p/dev">
												<i class="fa fa-user"></i>
												<span> jagabandhu request </span>
											</a>
										</li>								
									
										<li>
											<a href="/p/harshapps">
												<i class="fa fa-cog"></i>
												<span> janaki request</span>
											</a>
										</li>
										<li>
											<a href="/p/dev">
												<i class="fa fa-user"></i>
												<span> Devendra request </span>
											</a>
										</li>								
									
										<li>
											<a href="/p/harshapps">
												<i class="fa fa-cog"></i>
												<span> Dileep request</span>
											</a>
										</li>
										<li>
											<a href="/p/harshita">
												<i class="fa fa-power-off"></i>
												<span> Dharmendra  request </span>
											</a>
										</li>
									</ul>
								</li>							
								

								<li class="dropdown">
									<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
										<div class="avatar">
											<img src="{%static 'img/avatar.png' %}" class="img-rounded" alt="avatar" />
										</div>
										<i class="fa fa-angle-down pull-right"></i>
										<div class="user-mini pull-right">
											<span class="welcome">Welcome,</span>
											<span>{{user}}</span>
										</div>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="/profile/">
												<i class="fa fa-user"></i>
												<span>My Profile</span>
											</a>
										</li>								
									
										<li>
											<a href="#">
												<i class="fa fa-cog"></i>
												<span>Settings</span>
											</a>
										</li>
										<li>
											<a href="/devauth/logout/">
												<i class="fa fa-power-off"></i>
												<span>Logout</span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!--End Header-->
