<!--Start Container class=container-fluid for showing sidenavbar  -->
<div id="main" class="sidebar-show">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="/dashboard/" class="active">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>

				<li>
					<a href="/profile/">
						<i class="fa fa-user"></i>
						<span class="hidden-xs"> My Profile</span>
					</a>
				</li>



				<li>
					<a href="" >
						<i class="fa fa-cog"></i>
						<span class="hidden-xs"> Settings </span>
					</a>
				</li>


				<li>
					<a href="/devauth/logout/" >
						<i class="fa fa-power-off" ></i>
						<span class="hidden-xs"> Logout </span>
					</a>
				</li>

			
								
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<div class="preloader">
				<img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
			</div>
			<br>
            <br>
			<div id="temp-maincontent"></div>
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->
