{% extends "admin/base.html" %}

{% block title %}{{ title }} | Admin Login {% endblock %}

{%block extrastyle %}
<style type="text/css">
	#header {
		background-color:#058BCC;		
	}
</style>

{% endblock %}



{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> Dora Django Kit  Admin Login </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}