<html>
{% include 'devauth/base.html' %}
<body>


	<div class="row text-center">
		<div class="col-sm-4"><a href="http://127.0.0.1:8000/devauth/githubUser/" style="color: #fff"><div style="background-color: #000" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/2AaBlpf.png" height="40"> GitHub </div></div></a></div>

		<div class="col-sm-4"><a href="http://localhost:8000/devauth/google/" style="color: #fff"><div style="background-color: #d95234" class="panel panel-default"><div class="panel-body"><img src="http://upcity.com/blog/wp-content/uploads/2013/11/Google-Plus-Logo-650x318.png" height="40">Google User Info Example</div></div></a></div>
		<div class="col-sm-4"><a href="http://localhost:8000/devauth/facebook/" style="color: #fff"><div style="background-color: #3b5998" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/jiztYCH.png" height="40"> Facebook Example</div></div></a></div>
	
		<div class="col-sm-4"><a href="http://127.0.0.1:8000/devauth/linkedin/" style="color: #fff"><div style="background-color: #007bb6" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/sYmVWAw.png"  height="40"> LinkedIn </div></div></a></div>
		<div class="col-sm-4"><a href="http://127.0.0.1:8000/devauth/twitterTweets/" style="color: #fff"><div style="background-color: #00abf0" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/EYA2FO1.png" height="40"> Twitter</div></div></a></div>
		<div class="col-sm-4"><a href="http://127.0.0.1:8000/devauth/instagram/" style="color: #fff"><div style="background-color: #947563" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/aRc6LUJ.png" height="40"> Instagram </div></div></a></div>
		<div class="col-sm-4"><a href="http://127.0.0.1:8000/devauth/instagramMediaByLocation/" style="color: #fff"><div style="background-color: #947563" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/aRc6LUJ.png" height="40"> Instagram Media by location</div></div></a></div>
		
		<div class="col-sm-4"><a href="http://localhost:8000/devauth/yelp/" style="color: #000"><div style="background-color: #f5f5f5" class="panel panel-default"><div class="panel-body"><img src="http://i.imgur.com/pCmuBIY.png" height="40"> Yelp </div></div></a></div>
		


		

		<div class="col-sm-4"><a href="http://localhost:8000/devauth/dropbox/" style="color: #fff"><div style="background-color: #0d56a0" class="panel panel-default"><div class="panel-body"><img src="https://lh6.ggpht.com/fR_IJDfD1becp10IEaG2ly07WO4WW0LdZGUaNSrscqpgr9PI53D3Cp0yd2dXOgyux8w=w300" height="40">Dropbox API</div></div></a></div>
		
	</div>


</body>
</html>
