<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{ site_title }} </title>
    <script src="/static/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/d3/d3.min.js"></script>
    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css//bootstrap-social.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

  </head>
    
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/devauth">Dev</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          {% if user.is_authenticated %}
          <li><a href="/devauth/api">API</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <li class="active"><a href="/devauth/register">Register <span class="sr-only">(current)</span></a></li>
            
            <li><a href="/devauth/login">Login</a></li>
          {% endif %}
            
        </ul>
        
        <ul  class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
    
            <li><a>Hello {{user}}</a></li>
            <li><a href="/devauth/logout/">Logout</a></li>
          {% endif %}
        </ul>
          
          
          </li>
         </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </body>
</html>