<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <title> {% block title %}Dora Django Kit{% endblock %} </title> 

  
  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 
 
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-social.css' %}" >
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> 
  <link href="{% static 'css/landingpage.css' %}" rel='stylesheet' type='text/css' />

  <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>

  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
  <!-- Google Font link ends-->
  
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){   
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
  </script>
</head>

<body>
  <!-- Header starts here-->
  <div class="header">
    <div class="container">
      <div class="header-top">
        <div class="logo">
          <img src="{% static 'img/doralogo.png' %}" alt="Dora Logo" >
        </div>
        <span class="menu"></span>
        <div class="clear"></div>
        <div class="navigation">
          <ul class="navig">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about" class="scroll">About</a></li>
            <li><a href="#service" class="scroll">Service</a></li>
            <li><a href="#features"class="scroll">Features</a></li>         
            <li><a href="#contact"class="scroll">Contact</a></li>
            <li class="bold"><a id="signupbtn" href="#">Sign up</a></li>
            <li class="bold"><a id="loginbtn" href="#">Login</a></li>
          </ul>
        </div>
        <script>
          $( "span.menu" ).click(function() {
            $( "ul.navig" ).slideToggle( "slow", function() {
              // Animation complete.
            });
          });
        </script>

        <div class="clearfix"> </div>
      </div>

       {% load bootstrap %} 

      <!-- Signup BoX -->
      <div class="login"  id="signup_form_div">

       <a class="btn btn-block btn-social btn-facebook" href="http://localhost:8000/devauth/facebook_login/">
        <i class="fa fa-facebook"></i>
        Facebook
      </a>

      <a class="btn btn-block btn-social btn-google" href="http://localhost:8000/devauth/google_login/">
        <i class="fa fa-google"></i>
        Google+
      </a>
      
      <br>
      or 

       <form class="form-horizontal" id="signup_form" method="post" action="/devauth/signup/" enctype="multipart/form-data">
                {% csrf_token %}               
                {{ signup_form | bootstrap_horizontal:'col-lg-0' }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register </button>
                <input type="hidden" name="submit" value="Register" />
              </form>
           
      <script>
        $("#signupbtn" ).click(function() {
          $( "#login_form_div" ).hide();
          $( "#signup_form_div" ).slideToggle( "slow", function() {
              // Animation complete.
            });
        });
      </script>
    </div>
    <!-- Signup BoX -->

    <!-- Log In BoX -->
    <div class="login" id="login_form_div">

      <a class="btn btn-block btn-social btn-facebook" href="http://localhost:8000/devauth/facebook_login/">
        <i class="fa fa-facebook"></i>
        Login with Facebook
      </a>
      <a class="btn btn-block btn-social btn-google" href="http://localhost:8000/devauth/google_login/">
        <i class="fa fa-google"></i>
        Login with Google+
      </a>
      <br>
      
      or

      <form class="form-horizontal form-signin" id="login_form" method="post" action="/devauth/login/">
             {% csrf_token %}      
             {{ signin_form  | bootstrap_horizontal:'col-lg-0' }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <input type="hidden" name="submit" value="submit" />
        </form>
      <script>
        $( "#loginbtn" ).click(function() {
          $( "#signup_form_div" ).hide();
          $( "#login_form_div" ).slideToggle( "slow", function() {
              // Animation complete.
            });
        });
      </script>
    </div>
    <!-- Log In BoX -->
  </body>

  </html>