<!DOCTYPE html>

<html>
    {% include 'devauth/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
        	<h1>Api Example</h1>
        	<strong>{{ boldmessage }}</strong><br />
        {% else %}
        	<h1> Please register/login! </h1>
        {% endif %}
    	<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				
			</div>
			<div class="col-sm-6 col-md-6">
				
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				
			</div>
			<div class="col-sm-6 col-md-6">
				
			</div>
		</div>
	</div>
    </body>
</html>