<!DOCTYPE HTML>
<html>
{% include 'devauth/header_landing.html' %}
{% load staticfiles %}


<body>
	<div class="banner">
		<div class="row banner-row">
			<div class="col-md-6 banner-row-left">
				<img src="{% static 'img/landing_main.png' %}" />
			</div>
			<div class="col-md-6 banner-row-left banner-row-right">
				<h2> Add - Secure - Share </h2>
				<ul style="color:#D9EDF7">
					<li>Let the Phonenumber  / email be your new identity . </li>
					<li>Let  your Address be smart.</li>
					<li>You move but no need of notifying address to everyone </li>
					<li>Share / Find Address hassle free </li>
					<li> Spot your friends in your location </li>					
				</ul>

				<p> </p>

			</div>
		</div>
	</div>
</div>
</div>

<!-- About starts here-->
<div class="about" id="about">
	<div class="container">
		<div class="row about-content">
			<div class="col-md-7 about-left-content">
				<h3>
					About us
				</h3>
				<p> We are here to help you in finding / sharing the addresses more faster and easier than ever.

				</p>
			</div>
			<div class="col-md-5 about-right-content">
				<img src="{% static 'img/about-mat.png' %}" />
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="about-us">
		<div class="container">
			<div class="row about-below-content">
				<div class="col-md-4 about-content-below-left">
					<img src="{% static 'img/create.png' %}" />
					<h3>
						Create
					</h3>	
					<p> Map your addresses on the map. </p>					
				</div>
				<div class="col-md-4 about-content-below-left">
					<img src="{% static 'img/secure.png' %}" />
					<h3>
						Secure
					</h3>	
					<p> Set Passcode for each address that you possess </p>							
				</div>
				<div class="col-md-4 about-content-below-left">
					<img src="{% static 'img/share.png ' %}" />
					<h3>
						Share
					</h3>	
					<p> Share it on sms, facebook , whatsapp </p>							
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- About ends here-->
<!-- Slide starts here-->
<div class="slider-start" id="service">
	<div class="container">

		<div class="slider-content">
			<div class="slider-heading">
				<h3> Services </h3>
				<p>
					Test
				</p>
			</div>					
			<div class="wmuSlider example1">
				<article style="position: absolute; width: 100%; opacity: 0;"> 

					<div class="banner">
						<img src="{% static 'img/layer-image1.png' %}"   alt=""/> 
					</div>
				</article>
				<article style="position: relative; width: 100%; opacity: 1;"> 

					<div class="banner">
						<img src="{% static 'img/layer-image.png ' %}"  alt=""/> 
					</div>
				</article>
				<article style="position: absolute; width: 100%; opacity: 0;">

					<div class="banner">
						<img src="{% static 'img/layer-image2.png ' %}"  alt=""/> 
					</div>
				</article>

			</div>
		</div>
		<script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
		<script>
			$('.example1').wmuSlider();         
		</script> 	           	      
	</div>
</div>
</div>
</div>
</div>
<!-- Slide ends here-->
<div class="container">
	<div class="testimonals" id="features">
		<div class="slide-content-class3">
			<h3>What people say</h3>
		</div>
		<div class="row slide-content-class4">
			<div class="col-md-6 slide-content-class4-left">
				<i class="ser-a"></i>
				<div class="services-column-row-left">
					<h3>Add</h3>
					<p> </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 slide-content-class4-left">
				<i class="ser-b"></i>
				<div class="services-column-row-left">
					<h3>Add</h3>
					<p> </p>
				</div>
			</div>
		</div>
		<div class="row slide-content-class4">
			<div class="col-md-6 slide-content-class4-left">
				<i class="ser-c"></i>
				<div class="services-column-row-left">
					<h3>Add</h3>
					<p> </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 slide-content-class4-left">
				<i class="ser-d"></i>
				<div class="services-column-row-left">
					<h3>Add</h3>
					<p> </p>
				</div>
			</div>
		</div>
		<div class="row slide-content-class4">
			<div class="col-md-6 slide-content-class4-left">
				<i class="ser-e"></i>
				<div class="services-column-row-left">
					<h3>Add</h3>
					<p> </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 slide-content-class4-left">
				<i class="ser-f"></i>
				<div class="services-column-row-left">
					<h3>Add</h3>
					<p> </p>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- Contact start-->
<div class="contact" id="contact">
	<div class="container">
		<div class="row contact-row">
			<div class="col-md-6 contact-row-left">
				<h3> Dev</h3>
				<p> NIT Warangal</p>
				<p class="add-mark"><span><img src="{% static 'img/ad-sy.png' %}" /></span> Innovation and Incubation centre</p>
				<p class="cel-mark"><span><img src="{% static 'img/cel-sy.png' %}" /></span> 1234567890</p>
				<p class="ema-mark"><span><img src="{% static 'img/ema-sy.png' %} " /></span><a href="mailto:example@mail.com">support@wherzit.com</a></p>
			</div>
			<div class="col-md-6 contact-row-right">
				<form>
					<div class="form-row1">
						<input type="text" placeholder="Type Your Name" required=""/>
						<input type="text" placeholder="Type Your Email" required=""/>
					</div>
					<div class="form-row2">
						<select> <option>Your subject</option><option>2</option><option>2</option></select>
					</div>
					
					<textarea placeholder="Type Your Message" required=""></textarea>
					<div class="form-row3">
						<input type="reset"/><input type="submit" />
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- Contact End-->
	<!--FOOTER START-->
	<div class="footer">
		<div class="container">
			<div class="footer-top"><p> copyright 2015 &nbsp; <a href="">Powered by devTech</a></p></div>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
			 		};
			 		*/

			 		$().UItoTop({ easingType: 'easeOutQuart' });

			 	});
			</script>
			<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

		</div>
	</div>
	<!--FOOTER END-->
</body>
</html>