<!DOCTYPE html>
<html>
<body>
	{% include 'devauth/base.html' %}
	<h1 class="text-center"> {{ title }}</h1> 
	<br>

	<div class="container text-center">
		<form class="form-inline" method='get' action="/devauth/instagram/">
		  <div class="form-group">
		    <input type="text" name="instagram_tag" class="form-control" placeholder="Input tag, e.g: kitten">
		  </div>
		  <button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
	<br>

	{% if tagged_media %}
	<div class="col-lg-12">
		<div class="table-responsive">
			<h2> #{{search_tag}} </h2>
			<table class="table">
				{% for i in tagged_media %}
					<img src="{{i.images.thumbnail.url}}">
				{% endfor %}
			</table>
		</div>
	</div>	
	{% endif %}
</html>
