{% include 'header.html' %}
{% include 'sidenavbar.html' %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/jquery-scrollbox.css' %}" >




<div id="maincontent" >
<small class="col-xs-offset-2"> 
<a href="javascript:void(0);" onclick="javascript:introJs().start();" style="font-size:10px;" class="btn btn-xs btn-default">Take Tour</a>
</small>

	<div class="col-sm-9" data-step="3" data-intro="Main content can be found here">

       <h1>Hi Devendra Dora </h1>
		
	</div>


	<div class="col-xs-3" data-step="4" data-intro="Recommendations can be found here">

		<h4 class="page-header" id="events-templates-header">Recommendations</h4>

		<div id="recommend" class="box-body chat "  style="overflow: hidden; padding:0px;height:140px;float:left">

			<ul style="list-style-type:none">
				<li class="external-event">Innovation center is nearby</li>
				<li class="external-event"> Kalinga Dhaba is nearby </li>
				<li class="external-event"> Ice Age Icecream trending </li>
				<li class="external-event"> CSE DEPT NITW in nearby</li>
				<li class="external-event"> NITW Admin Building nearby</li> 
				<li class="external-event"> Amul is nearby </li>
				<li class="external-event"> Amul Icecream trending </li>
				<li class="external-event">  Mess IFC nearby </li>
				<li class="external-event">  SAC in nearby </li> 				
			</ul>
		</div>	



	</div>


</div>

{% include 'footer.html' %}

<script src="{% static 'js/jquery.scrollbox.js' %}"></script>

<script type="text/javascript">

	$('#recommend').scrollbox(
      /*{linear: true,
       step: 1,
       delay: 0,
      speed: 500
  }*/
  );

</script>

