{% include 'header.html' %}
{% include 'sidenavbar.html' %}
{% load staticfiles %}

<style type="text/css">
	.addresspanel
	{
		background-color: blue;
	}
</style>

<div id="maincontent" class="row">
  <small class="col-xs-offset-10"> 
  <a href="javascript:void(0);" onclick="javascript:introJs().start();" style="font-size:10px;" class="btn btn-xs btn-default">Take Tour</a>
  </small>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">	
      <div class = "panel panel-primary">
        <div class = "panel-body">
          <div>
           <div class="col-xs-2">
            <img src="{%static 'img/avatar.png' %}" class="img-rounded" alt="avatar" height="95%" width="95%"/>	
          </div>
          <div class="col-xs-8">   						
            <font size="6"><b><a href="/p/{{userinfo.username}}">{{userinfo.first_name|capfirst}} {{userinfo.last_name|capfirst}}</a></b> </font>
            <br>
            <i class="fa fa-envelope"></i> &nbsp;{{userinfo.email}}
            <i class="fa fa-phone"></i> {{userinfo.phone}} <br>
            <i class="fa fa-user"></i> Username :  {{userinfo.username}}
          </div>  
        </div>   					
        <div>
         <div class="col-xs-12">
          <hr>
          <b>A Brief About Me</b>
        </div>
      </div>
    </div>	
  </div>
</div>
</div>



<div class="row">
<div class="col-xs-8 col-xs-offset-1">
   <div class="bs-example">
     <div class="panel-group" id="accordion">
    
     {% for addr in addrinfo %}

       <div class="panel panel-default">
         <div class="panel-heading addresspanel">
           <h4 class="panel-title">
            <a  data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{forloop.counter}} . Address : {{ addr.title | capfirst }}</a>
            <div style="float:right"> 
            <button type="button" > Get Directions </button>     
            <button type="button" data-step="3" data-intro="request for address"> Address Request  </button>
            <button type="button" data-step="4" data-intro="request for passcode"> Passcode Request  </button>
             </div>
          </h4>                			
        </div>
        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse out">
         <div class="panel-body">
          <div class="col-xs-6">

           <font size="3"><b>House No :</b></font>	<font size="2">{{addr.house_num}}</font>	<br/>	
           <font size="3"><b>Apartment:</b></font>	<font size="2">{{addr.apartment_num}}</font>	<br/>	
           <font size="3"><b>Building  :</b></font>	<font size="2">{{addr.building_name}}</font>	<br/>	
           <font size="3"><b>Landmark :</b></font>	<font size="2">{{addr.landmark}}</font>	<br/>	
           <font size="3"><b>Road Name :</b></font>	<font size="2">{{addr.road_name}}</font>	<br/>
           <font size="3"><b>Locality :</b></font>	<font size="2">{{addr.locality}}</font>	<br/>
           <font size="3"><b>City :</b></font>	<font size="2">{{addr.city}}</font>	<br/>
          
         </div>
         <div class="col-xs-6"> 
          <font size="3"><b>State :</b></font>	<font size="2">{{addr.state}}</font> <br/>          
           <font size="3"><b>Country :</b></font>	<font size="2">{{addr.country}}</font>	<br/>	
           <font size="3"><b>Pincode :</b></font>	<font size="2">{{addr.pincode}}</font>	<br/>	
          
           <font size="3"><b>phone :</b></font>	<font size="2">{{addr.phone_seconday}}</font>	<br/>   								
         	
           <font size="3"><b>Sale Status :</b></font>	<font size="2">{{addr.sale_status}}</font>	<br/>	
           <font size="3"><b>Address Type :</b></font>	<font size="2">{{addr.addr_type}}</font>	<br/>	
           <font size="3"><b>Passcode :</b></font>	<font size="2">{{addr.passcode}}</font>	<br/>	
         </div>                
       </div>
     </div>
   </div>

   {% endfor %}
  </div>
</div>
</div>

</div>
</div>
{% include 'footer.html' %}